# networks:
#   wf-net:
#     name: wf-net

# volumes:
#   wf-data:
#       # driver: local
#       # driver_opts:
#       # type: none
#       # device: /home/yourname/wf-data
#       # o: bind

services:
  # 后端服务 | Backend service
  map-server:
    # build:
    #   context: .
    #   dockerfile: ./Dockerfile
    #   # build arguments
    #   args:
    #     HTTP_PROXY: ${HTTP_PROXY}
    #     HTTPS_PROXY: ${HTTPS_PROXY}

    image: whalefell/map-server:latest

    container_name: map-server
    restart: always

    # ports:
    #   - "8076:8076"

    # environment:
    #   - NODE_ENV=production

    extra_hosts:
      # set host=host.docker.internal in .env on linux for xdebug
      - ${host:-host}:host-gateway

    volumes:
      # - wf-data:/app/data
      - ./config:/app/config/
      # map cache directory to host for persistence
      # - ./cache:/app/cache/

    networks:
      - app-network

  # Nginx反向代理服务 | Nginx reverse proxy service
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      # - "80:80" # HTTP端口 | HTTP port

      - "37443:443" # HTTPS端口 | HTTPS port
      - "38443:8443" # HTTPS端口 - 自签名证书 | HTTPS port - self-signed certificate
      - "38123:8080" # HTTP端口 - 无SSL | HTTP port - no SSL

    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      # - ./ssl:/etc/nginx/ssl:ro # SSL证书目录 | SSL certificate directory
      - ./cf.pem:/etc/nginx/ssl/fullchain.pem
      - ./cf.key:/etc/nginx/ssl/privkey.pem

      # 自签名证书挂载 | Self-signed certificate mount
      # - ./server.crt:/etc/nginx/ssl/self-signed.crt:ro
      # - ./server.key:/etc/nginx/ssl/self-signed.key:ro
      # - /var/log/nginx:/var/log/nginx

    depends_on:
      - map-server
    networks:
      - app-network

# 网络配置 | Network configuration
networks:
  app-network:
    driver: bridge
