name: build docker image and push

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-docker:
    runs-on: ubuntu-latest
    env:
      VERSION: 1.0.0
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract tag version
        id: tag
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "Current build version: ${{ env.VERSION }}"

      # build and push the image
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            whalefell/map-server:latest
            whalefell/map-server:${{ env.VERSION }}
